<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- meta charset="utf-8" con esto se declara la codificacion del documento. -->
        <meta charset="utf-8">
        <title>Eventoss</title>
        
         <style>
        	table,tr,th,td{
        		border: solid 1px
        	}
        	td,th{
        		width: 8em
        	}
        
        </style>
    </head>
    <body>
        
        <div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/events/new">Nuevo Evento</a>
                <h5>Crea nuevos eventos definiendo difernetes parámetros.</h5>
                <a href="/events/myEvents">Mis eventos</a>
                <h5>Administra los eventos que has creado.</h5>
                <a href="/invites/myInvites">Mis Invitaciones</a>
                <h5>Pagina de mis invitaciones.</h5>
                <a href="/registrations/myRegistrations">Mis inscripciones</a>
                <h5>Página donde se muestran a que eventos estas registrado.</h5>
                <a href="/logout">Salir</a>
            </div>
            <span style="font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()">&#9776; Menú</span>
			<ul>
				<li href="/events/new">Nuevo Evento</li>
				<li href="/events/myEvents">Mis eventos</li>
				<li href="/invites/myInvites">Mis Invitaciones</li>
				<li href="/registrations/myRegistrations">Mis inscripciones</li>
				<li href="/logout">Salir</li>
			</ul>
        </div>
            
           
        
           

         
        
        <div class="tbl-header">
            <h1><br>Eventos<br><h7> Usuario:  </h7><h7 th:text="${currentUser.email}"></h7></h1>
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Nombre del Evento</th>
                        <th>Fecha del Evento</th>
                        <th>Inicio de Registro</th>
                        <th>Fin de Registo</th>
                        <th>Lugar</th>
                        <th>Disponibilidad</th>
                        <th>Tipo de Evento</th>
                        <th>Costo</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr th:each="event : ${events}">	
                        <td th:text="${event.eventName}"></td>
                        <td th:text="${event.eventDate}"></td>
                        <td th:text="${event.startRegistrations}"></td>
                        <td th:text="${event.endRegistrations}"></td>
                        <td th:text="${event.lugar}"></td>
                        <td th:text="${event.isAvailableQuota()} == true ? ${event.getAvailability()} : 'Agotado'"></td>
                        <td th:text="${event.privateEvent} == true ? 'Privado' : 'Publico'"></td>
                        <td th:text="${event.isFree()} == true ? 'Gratis' : ${event.getCost()}"></td>
                        <td>
                            <a th:href="@{/registrations/{id}/registrate(id=${event.id})}" class="button">Registrarse</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </body>
</html>




