<!DOCTYPE html>

<html>
<head>
<title>Users</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    table, tr, th, td {
	border: solid 1px
}

td, th {
	width: 8em;
	text-align: center;
}
body,div{
	text-align: center
}
</style>
</head>
<body>
	<div>
		<a class="button" th:href="@{/events/myEvents}">Volver</a>
	</div>
	<div>
		<h1>Lista de usuarios</h1>
		<div>
		<center>
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Email</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th></th>

					</tr>
				</thead>
			</table>
		</center>
		</div>
		<div>
				<center>
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.email}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td><a class="button"
							th:href="@{/invites/sendInv/{eventId}/{userId}(id=${user.id},eventId=${eventId})}">Invitar</a></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
		</center>
</body>
</html>
