<!DOCTYPE html>

<html>
    <head>
        <title>Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 >Users List</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td><a class="badge" th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a></td>
                        <td><a class="badge" th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            <a class="badge badge-primary" th:href="@{/users/new}">New User</a>
        </div>
        
    </body>
</html>
