<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ERROR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       

    </head>
    <body>

	<center>
        <div>        
            <h1 style="color:red">Error</h1>
            
            <a class="button" href="javascript:history.back()">Atrás</a>
            <br>
            <br>
            <p>
                <h1 th:text="${error}">Error</h1> 
            </p>
            <br>
        </div>
        </center>
    </body>
</html>
