<!DOCTYPE html>
<html>
<head>
<title>Registro</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		html {
			font-family: helvetica, arial
		}
		
		table, tr, th, td {
			border: solid 1px
		}
		
		td, th {
			width: 6em;
			text-align: center;
		}
		
		body, div {
			text-align: center
		}
	</style>
</head>
<body>
	<div>

		<a class="button" th:href="@{/events}">Volver</a>
		<h1>Registro</h1>

		<center>
			<table cellpadding="0" cellspacing="0" border="0">

				<thead>
					<tr>
						<th>Nombre del evento</th>
						<th>Fecha del evento</th>
						<th>Inicio registro</th>
						<th>Fin registro</th>
						<th>Lugar</th>
						<th>Capacidad</th>
						<th>Disponibles</th>
						<th>Costo</th>
						<th>Tipo de evento</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td th:text="${event.eventName}"></td>
						<td th:text="${#dates.format(event.eventDate, 'dd-MM-yyyy')}"></td>
						<td th:text="${#dates.format(event.startRegistrations, 'dd-MM-yyyy' )}"></td>
						<td th:text="${#dates.format(event.endRegistrations, 'dd-MM-yyyy' )}"></td>
						<td th:text="${event.lugar}"></td>
						<td th:text="${event.capacity}"></td>
						<td th:text="${event.getAvailability()}"></td>
						<td th:text="${event.isFree()} == true ? 'Gratis' : ${event.getCost()}"></td>
						<td th:text="${event.privateEvent} == true ? 'Privado' : 'Publico'"></td>
						<td><a class="button" th:href="@{/registrations/confirmRegistration/{id}(id=${event.id})}">Realizar inscripción</a></td>
						
					</tr>
				</tbody>
			</table>
		</center>
	</div>

</body>
</html>

